@import "../../../static/style/coreCss/px2rem.scss";
@import "../../../static/style/coreCss/reset.scss";

$control-btn:#2c97f1;
$checked-date:#333;
$unchecked-date:#a8a8a8;
$border-color:#e1e1e1;
$picker-bg:#fff;
$checked-font-size:px2rem(48px);
$unchecked-font-size:px2rem(40px);
$panel-bg:#eeeeee;


/*use this should set position relative*/
@mixin border2pxBT{
  &:before{
    content: '';
    position: absolute;
    left: 0;
    background: $border-color;
    width: 100%;
    height: 2px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  &:after{
    content: '';
    position: absolute;
    left: 0;
    background: $border-color;
    width: 100%;
    height: 2px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@mixin border1pxBT{
  &:before{
    content: '';
    position: absolute;
    left: 0;
    background: $border-color;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  &:after{
    content: '';
    position: absolute;
    left: 0;
    background: $border-color;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@mixin border2pxT{
  &:before{
    content: '';
    position: absolute;
    left: 0;
    background: $border-color;
    width: 100%;
    height: 2px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@mixin border2pxB{
  &:after{
    content: '';
    position: absolute;
    left: 0;
    background: $border-color;
    width: 100%;
    height: 2px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@mixin border1pxT{
  &:before{
    content: '';
    position: absolute;
    left: 0;
    background: $border-color;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@mixin border1pxB{
  &:after{
    content: '';
    position: absolute;
    left: 0;
    background: $border-color;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}

.mobile-picker{
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: px2rem(520px);
  width: 100%;
  .picker-control{
    width: 100%;
    @include border1pxB;
    height: px2rem(90px);
    .control-cancel,.control-ok{
      line-height:px2rem(90px);
      color: $control-btn;
      width: px2rem(130px);
      padding:0 px2rem(20px);
      text-align: left;
      display: inline-block;
    }
    .control-ok{
      text-align: right;
      float: right;
    }
  }
  .picker-panel{
    height: px2rem(430px);
    overflow: hidden;
    @include border1pxT;
    background: $picker-bg;
    .panel-box{
      height: inherit;
      overflow: hidden;
      padding: px2rem(20px) px2rem(55px);
      box-shadow: inset 0px 0px 43px #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      font-size: px2rem(40px);
      text-align: center;
    }
    .box-year,.box-month,.box-day,.box-hour,.box-minute{
      overflow: hidden;
      width: 100%;
      text-align: center;
      position: relative;
    }
    .year-checked,.month-checked,.day-checked,.hour-checked,.minute-checked{
      height: px2rem(70px);
      line-height:px2rem(70px);
      overflow: hidden;
      position: absolute;
      top:px2rem(180px);
      left: 0;
      right: 0;
      border-top:1px solid $control-btn ;
      border-bottom: 1px solid $control-btn;
      background: $picker-bg;
      z-index: 1;
      font-size: px2rem(48px);
      -webkit-transform: translate3d(0px, 0px, 88px);
              transform: translate3d(0px, 0px, 88px);
    }
    .year-wheel,.month-wheel,.day-wheel,.hour-wheel,.minute-wheel{
      position: absolute;
      overflow: visible;
      height: px2rem(70px);
      font-size: px2rem(40px);
      top:px2rem(180px);
      left: 0;
      right: 0;
      color:$unchecked-date;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      .wheel-div{
        position: absolute;
        top:0;
        width: 100%;
        text-align: center;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden
      }
    }
  }
}