@import "../../../../static/style/coreCss/px2rem.scss";
@import "../../../../static/style/coreCss/reset.scss";
@import "font/iconfont.css";

/* set the color you like*/
$border: #ccc;
$totalBG:#fff;
$boxShadow:0px 2px 5px 0px rgba(84, 84, 84, 0.21);
$paneBG:#eee;
$borderRadius:3px;
$normalRadius:0px;
$normalWord:#333;
$normalWeek:#868686;
$canNotChoose:#b9b9b9;
$choosed:#fff;
$singleChooseBG:#2c97f1;
$mulitChooseBG:#86c3f6;
$titleHover:#eee;

/*dom structure and color*/
.k-datePicker{
  margin-top: 1px;
  position: absolute;
  z-index: 9999;
  width: 210px;
  max-height: 241px;
  padding: 5px 6px;
  background: $totalBG;
  border:1px solid $border;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  text-align: center;
  cursor: default;
  color: $normalWord;
}

.datePane{
  .yearBox{
    .previousBtn,.nextBtn{
      width: 30px;
    }
    .Title{
      font-weight: bold;
      font-size: 16px;
      width: 128px;
      padding: 0 5px;
    }
    ul{
      display: flex;
      justify-content: space-between;
      li{
        height: 30px;
        line-height: 30px;
        &:hover{
          background:$titleHover ;
          color: $normalWeek;
          border-radius: $borderRadius;
          cursor: pointer;
        }
      }
    }
  }
  .chooseBox{
    margin-top:5px;
    height: 192px;
    position: relative;
    overflow: hidden;
    .chooseDay{
      .dayTitle{
        li{
          width: 20px;
          height: 20px;
          line-height: 20px;
          font-size: 14px;
          color: $normalWeek;
          text-align: center;
        }
      }
      .dayList{
        margin-top: 5px;
        background: $paneBG;
        height:168px ;/*control up and down gaps*/
        border-radius: $borderRadius;
        color: $normalWord;
        li{
          width: 28px;
          height: 26px;
          line-height: 26px;
          text-align: center;
          transition: background ease-in-out .15s;
          &:hover{
            background: $mulitChooseBG;
            border-radius: $borderRadius;
            color: $choosed;
            cursor: pointer;
          }
        }
      }
    }
  }
  /*flex display*/
  .dayList,.yearList,.monthList,.dayTitle{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  .dayTitle{
    flex-wrap: nowrap;
  }
  /*set choose hover style*/
  .chooseBox .chooseYear .yearList,.chooseBox .chooseDay .dayList,.chooseMonth .monthList{
      .canNotChoose{
        color: $canNotChoose;
        &:hover{
          background: none;
          color: $canNotChoose;
          cursor: not-allowed;
        }
      }
      .previousChoose{
        color: $canNotChoose;
      }
      .singleChoosed{
        border-radius: $borderRadius;
        background: $singleChooseBG;
        color: $choosed;
      }
      .mulitChoosed,.mulitChoosedHead,.mulitChoosedEnd{
        color: $choosed;
        background: $singleChooseBG;
      }
      .mulitChoosed{
        background: $mulitChooseBG;
      }
      .mulitChoosedHead{
        border-top-left-radius:$borderRadius;
        border-bottom-left-radius:$borderRadius;
      }
      .mulitChoosedEnd{
        border-top-right-radius:$borderRadius;
        border-bottom-right-radius:$borderRadius;
      }
  }
  /*choose year and month is the same*/
  .chooseYear .yearList,.chooseMonth .monthList{
    li{
      width: 65px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      transition:background ease-in-out .15s, background ease-in-out .15s;
      &:hover{
        background: $singleChooseBG;
        border-radius: $borderRadius;
        color: $choosed;
        cursor: pointer;
      }
    }
  }
  .chooseYear,.chooseMonth,.chooseDay{
    position: absolute;
  }
}
.datePicer-Toggle-enter-active, .datePicer-Togglee-leave-active {
  transition: all .45s cubic-bezier(.26,.67,.75,.97)
}
.datePicer-Toggle-enter,.datePicer-Toggle-leave-active {
  transform: translateY(20px);
  opacity: 0
}
.change-panel-enter-active, .change-panel-leave-active {
  transition: all .45s ease-in-out
}
.change-panel-enter{
  opacity: 0;
  transform: translateX(-100%);
}
.change-panel-leave-active{
  opacity: 0;
  transform: translateX(-100%);
}
