@import "../../../static/style/coreCss/px2rem.scss";
.nav-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-top:1px solid #c8c7cc;
  .nav-btn{
    border-right:1px solid #c8c7cc;
    border-bottom:1px solid #c8c7cc;
    width: px2rem(250px);
    height: px2rem(200px);
    position: relative;
  }
  .btn-icon{
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: red;
    top:20px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .btn-word{
    font-size: px2rem(24px);
    font-weight: bold;
    display: block;
    text-align: center;
    color: #333;
    position: absolute;
    left: 0;
    right: 0;
    bottom: px2rem(25px);
    margin: auto;
  }
}
