@import "../../../static/style/coreCss/px2rem.scss";

.label {
  color: #333;
  font-size: px2rem(30px);
  height: px2rem(90px);
  padding: 0 px2rem(10px);
  background: #efeff4;
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: px2rem(25px);
    background: #fecd33;
    width: px2rem(8px);
    height: px2rem(40px);
    border-radius: px2rem(8px);
  }
  .label-text {
    position: absolute;
    top: px2rem(25px);
    height: px2rem(40px);
    line-height: px2rem(42px);
    padding-left: px2rem(20px);
  }
}

.nav-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: white;
  //border-top: .5px solid #c8c7cc;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    background: #c8c7cc;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .nav-btn {
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background: #c8c7cc;
      width: 100%;
      height: 1px;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      background: #c8c7cc;
      width:1px;
      height: 100%;
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
    //border-right: 1px solid #c8c7cc;
    //border-bottom: 1px solid #c8c7cc;
    width: px2rem(250px);
    height: px2rem(200px);
    position: relative;
  }
  .btn-icon {
    display: block;
    position: absolute;
    width: px2rem(80);
    height: px2rem(80);
    top:px2rem(40px);
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: px2rem(80);
  }
  .btn-word {
    font-size: px2rem(24px);
    font-weight: bold;
    display: block;
    text-align: center;
    color: #333;
    position: absolute;
    left: 0;
    right: 0;
    bottom: px2rem(25px);
    margin: auto;
  }
  em{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
  }
}
@font-face {
  font-family: 'homeIcon';  /* project id 185202 */
  src: url('//at.alicdn.com/t/font_obdsjld28ykqpvi.eot');
  src: url('//at.alicdn.com/t/font_obdsjld28ykqpvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_obdsjld28ykqpvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_obdsjld28ykqpvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_obdsjld28ykqpvi.svg#iconfont') format('svg');
}

.btn-icon {
  font-family: "homeIcon" !important;
  font-size: .8rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.pc{
  color: #488dc9;
}
.translate{
  color:#f19333
}
.ios{
  color: #47a6df;
}
.alert{
  color: #2dbf8b;
}
.loading{
  color:#da385c;
}
.wrapper{
  overflow: hidden;
}
