.history-enter-active, .history-leave-active {
  -webkit-transition: all .3s cubic-bezier(.26, .67, .75, .97);
  transition: all .3s cubic-bezier(.26, .67, .75, .97)
}

.history-enter {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}

.history-leave-active {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}
