.history-enter-active, .history-leave-active {
  -webkit-transition: all .3s cubic-bezier(.26, .67, .75, .97);
  transition: all .3s cubic-bezier(.26, .67, .75, .97)
}

.history-enter {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}

.history-leave-active {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}

.right2left-enter-active, .right2left-leave-active,.left2right-enter-active, .left2right-leave-active {
  -webkit-transition: all .45s cubic-bezier(.26, .67, .75, .97);
  transition: all .45s cubic-bezier(.26, .67, .75, .97)
}

.right2left-enter,.left2right-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

}

.right2left-leave-active,.left2right-enter{
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.circleLoop{
  animation-name: roate;
  animation-duration: 38s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.circleLoopPause{
  animation-name: roate;
  animation-duration: 38s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state:paused;
}
@keyframes roate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
.playerToggle-enter-active,.playerToggle-leave-active {
  -webkit-transition: all .45s ease-in-out;
  transition: all .45s ease-in-out;
}
.playerToggle-enter {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.playerToggle-leave-active {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.toggleTop-enter-active, .toggleTop-leave-active {
  -webkit-transition: all .45s cubic-bezier(.26, .67, .75, .97);
  transition: all .45s cubic-bezier(.26, .67, .75, .97)
}

.toggleTop-enter {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.toggleTop-leave-active {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}