@import "../../../static/style/coreCss/reset";
@import "../../../static/style/coreCss/px2rem";
@import "./animation.css";

$mainGreen: #31c27c;
$DeepMainGreen: rgba(0, 0, 0, .12);
$tipsRed: #fc4c24;
$listBorder: #e6e6e6;
$listButton: #8a8a8b;
$checkBoxBorder: #a9a9a9;
$mainTitle: #000000;
$secondTitle: #666666;
$markTips: #ff6701;
$like:#ff6f6f;
$grayButton: #a5a5a5;
$grayButtonText: #8f8f8f;
$white: #fff;
$rgbaWhite: rgba(255, 255, 255, .5);
$mask:rgba(0,0,0,.4);
$playListBtn:#898989;
$listBackground:rgba(228, 228, 228, 0.98);

@mixin wordEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.markPoint {
  position: relative;
  &:before {
    content: '';
    display: table;
    position: absolute;
    background: $tipsRed;
    width: px2rem(18);
    height: px2rem(18);
    border-radius: 100%;
    right: 5%;
  }
}

@font-face {
  font-family: 'iconfont';  /* project id 226254 */
  src: url('//at.alicdn.com/t/font_c1sawuxpbxk73nmi.eot');
  src: url('//at.alicdn.com/t/font_c1sawuxpbxk73nmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_c1sawuxpbxk73nmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_c1sawuxpbxk73nmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_c1sawuxpbxk73nmi.svg#iconfont') format('svg');
}

.Player-BG {
  background: #f4f4f4;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.wrapper {
  overflow: hidden;
}

.clearFix {
  &:after, &:before {
    content: ' ';
    display: table;
    clear: both;
  }
}

.Scroll-Add-On {
  height: px2rem(110);
  width: 100%;
}

.icon {
  font-family: "iconfont" !important;
  font-size: px2rem(32);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.main-box {
  top: px2rem(84);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*searchBar ----------------------------------------------------------------------------------------------*/

.searchBar-Box {
  position: fixed;
  width: 100%;
}

.searchBar {
  height: px2rem(84);
  background: $mainGreen;
  padding: px2rem(10) px2rem(12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.searchBar-icon {
  position: absolute;
  text-align: center;
  width: 100%;
  height: px2rem(64);
  line-height: px2rem(64);
  color: $white;
  padding-left: px2rem(10);
}

.searchBar-inputBox {
  position: relative;
  background: $DeepMainGreen;
  width: 100%;
}

.searchBar-input, .searchBar-inputBox {
  border-radius: 5px;
  height: px2rem(64);
  line-height: px2rem(40);
}

.searchBar-input {
  position: absolute;
  width: inherit;
  right: 0;
  background: transparent;
  color: $white;
  padding: px2rem(12) px2rem(40);
}

.searchBar-button {
  background: transparent;
  color: $white;
}

.searchBar-icon, .searchBar-button, .searchBar-input {
  font-size: px2rem(34);
}

input::-webkit-input-placeholder {
  color: $white;
}

input::-moz-placeholder {
  color: $white;
}

input::-moz-placeholder {
  color: $white;
}

input:-ms-input-placeholder {
  color: $white;
}

.clearBtn {
  display: inline-block;
  height: px2rem(64);
  line-height: px2rem(64);
  position: absolute;
  width: px2rem(64);
  text-align: center;
  color: $rgbaWhite;
  right: 0;
}

/*searchHistory ---------------------------------------------------------------------------------------------------------------*/
.history-BG {
  position: fixed;
  top: px2rem(84);
  bottom: 0;
  width: 100%;
  background: $white;
}

.hot-search-bg {
  padding: 0 px2rem(40);
}

.hot-title {
  padding-top: px2rem(40);
  color: $secondTitle;
  font-size: px2rem(30);
}

.hot-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.hot-tag {
  font-size: px2rem(28);
  color: $mainTitle;
  border: 1px solid #c4c4c4;
  border-radius: px2rem(28);
  padding: 0 px2rem(20);
  margin-right: px2rem(12);
  margin-bottom: px2rem(20);
}

.hot-tag.active {
  border: 1px solid $mainGreen;
  color: $mainGreen;
}

.list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: px2rem(28);
  color: $secondTitle;
}

.list-clear {
  color: $mainGreen;
}

.list-box {
  border-top: 1px solid $listBorder;
  font-size: px2rem(32);
  color: $mainTitle;
  height: px2rem(100);
  line-height: px2rem(100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list-box-title {
  @include wordEllipsis();
}

.list-clear-btn {
  width: px2rem(100);
  color: #7f7f7f;
  text-align: right;
}

/*user-nav ---------------------------------------------------------*/
.user-nav-box {
  background: $white;
}

.box-head-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: px2rem(27.5);
}

.head-btn-btn {
  margin: px2rem(33) 0;
  height: px2rem(56);
  width: px2rem(180);
  line-height: px2rem(56);
  font-size: px2rem(30);
  text-align: center;
  border: 1px solid $grayButton;
  border-radius: px2rem(28);
}

.head-btn-img {
  width: px2rem(110);
  margin: 0 px2rem(20);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .head-img {
    width: px2rem(110);
    height: px2rem(110);
    border-radius: 100%;
  }
}

.earphone {
  color: $mainGreen;
  font-size: px2rem(38);
  display: inline-block;
  line-height: 100%;
}

.box-head-name {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  margin-top: px2rem(10);
  font-size: px2rem(34);
  &:before, &:after {
    content: '-';
  }
}

.box-head-vip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.vip-shinning {
  content: '';
  height: px2rem(60);
  width: px2rem(20);
  background: rgba(255, 255, 255, .5);
  position: relative;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  animation: shinning 5s infinite;

}

@keyframes shinning {
  0% {
    left: 0;
  }
  15% {
    left: 100%;
  }
  100% {
    left: 200%;
  }
}

.head-vip-icon {
  display: inline-block;
  height: px2rem(50);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.nav-box-enter {
  padding-bottom: px2rem(50);
}

.box-enter-row {
  padding: 0 px2rem(60);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-enter-nav {
  text-align: center;
  width: px2rem(140);
  color: $mainTitle;
}

.enter-nav-icon {
  color: $mainGreen;
  font-size: px2rem(80);
  height: px2rem(80);
  line-height: px2rem(80);
  text-align: center;
}

.enter-nav-name {
  font-size: px2rem(34);
}

.enter-nav-count {
  color: $secondTitle;
  font-size: px2rem(24);
}

/*personal radio ----------------------------------------------*/

.personal-radio {
  margin-top: px2rem(20);
  background: $white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: px2rem(130);
}

.radio-poster {
  width: px2rem(130);
}

.poster-play, .poster-img {
  position: absolute;
  width: px2rem(130);
  height: px2rem(130);
}

.poster-play {
  color: $white;
  z-index: 1;
  text-align: center;
  line-height: px2rem(130);
  background: rgba(0, 0, 0, .5);
  font-size: px2rem(70);
}

.poster-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.radio-text {
  margin-left: px2rem(20);
  padding: px2rem(20) 0;
}

.text-title {
  color: $mainTitle;
  font-size: px2rem(34);
  height: px2rem(50);
}

.text-described {
  color: $secondTitle;
  font-size: px2rem(24);
}

/*songSheet ------------------------------------------*/
.song-sheet-box {
  margin-top: px2rem(20);
  background: $white;
}

.song-sheet-box-seeAll {
  background: #f4f4f4;
  text-align: center;
  font-size: px2rem(28);
  color: $mainTitle;
  height: px2rem(111);
  display: block;
  line-height: px2rem(111);
}

.song-sheet-box-header {
  text-align: center;
  height: px2rem(111);
  border-bottom: 1px solid $listBorder;
  margin-right: px2rem(20);
}

.song-sheet-box-header-title, .song-sheet-box-header-btn {
  position: absolute;
  height: inherit;
  line-height: px2rem(111);
}

.song-sheet-box-header-title {
  font-size: px2rem(36);
  width: 100%;
  letter-spacing: px2rem(8);
  span {
    letter-spacing: normal;
  }
}

.song-sheet-box-header-btn {
  right: 0;
  width: px2rem(111);
  font-size: px2rem(40);
  color: $listButton;
}

/*songSheetSing -----------------------------------------------------------------*/
.song-sheet-box-list-item {
  display: flex;
  flex-wrap: nowrap;
  height: px2rem(134);
  margin-bottom: 1px;
}

.song-sheet-box-list-item-poster {
  width: px2rem(134);
}

.song-sheet-box-list-item-text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.song-sheet-box-list-item .song-sheet-box-list-item-text {
  width: 100%;
  border-bottom: 1px solid $listBorder;
  margin-left: px2rem(20);
}

.song-sheet-box-list-item:last-child .song-sheet-box-list-item-text {
  border-bottom: none;
}

.song-sheet-box-list-item-text-box {
  padding: px2rem(20) 0;
}

.song-sheet-box-list-item-text-title {
  font-size: px2rem(32);
  color: $mainTitle;
  height: px2rem(32);
}

.song-sheet-box-list-item-text-described {
  color: $secondTitle;
}

.song-sheet-box-list-item-btn {
  line-height: px2rem(134);
  width: px2rem(111);
  color: $listButton;
  font-size: px2rem(40);
  text-align: center;
}

/*player --------------------------------*/
.player-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: px2rem(110);
  border-top: 1px solid rgba(0, 0, 0, .3);
  box-sizing: content-box;
}

.player-box-bg {
  width: 100%;
  height: px2rem(110);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(248, 248, 248, 0.98);
}
.player-box-currentPlay{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: inherit;
}
.player-box-currentPlay-box{
  display: flex;
  position: absolute;
  width: 100%;
}
.player-box-poster-img {
  width: px2rem(90);
  height: px2rem(90);
  border-radius: 100%;
}

.player-box-poster {
  padding: px2rem(10) 0 0 px2rem(18);
}

.player-box-text {
  padding: px2rem(10);
}

.player-box-text-title {
  color: #000000;
  font-size: px2rem(28);
}

.player-box-text-lyric {
  color: $secondTitle;
  font-size: px2rem(24);
}

.player-box-text-lyric, .player-box-text-title{
  width: px2rem(400);
  min-height: px2rem(43);
  @include wordEllipsis();
}

.player-box-btn {
  width: px2rem(300);
  height: 100%;
  line-height: px2rem(110);
  padding: 0 px2rem(10);
  text-align: center;
  &:hover{
    cursor: pointer;
  }
}

.player-box-btn-play, .player-box-btn-playList {
  display: inline-block;
  font-size: px2rem(64);
  line-height: px2rem(110);
  padding: 0 px2rem(10);
  height: inherit;
  color: $mainGreen;
}
/*songSheetList ------------------------*/
.song-sheet-list-box{
  background: $white;
}
.song-sheet-list-head{
  height:px2rem(110);
  border-bottom: 1px solid $listBorder;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  line-height: px2rem(110);
  padding: 0 px2rem(30);
}
.song-sheet-list-head-count{
  font-size: px2rem(32);
  color: $mainTitle;
}
.song-sheet-list-head-btn{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-size: px2rem(32);
}
.song-sheet-btns{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding:0 px2rem(10);
  *{
    display: inline-block;
  }
}
.song-sheet-list-box-wrapper{
  position: absolute;
  top: 0;
  bottom:px2rem(110);
  width: 100%;
}
.song-sheet-list-head-btn-add,.song-sheet-list-head-btn-manage{
  color: $mainGreen;
  font-size: px2rem(38);
  padding:0 px2rem(10);

}
/*playList -----------------------------------------*/
.play-list-mask{
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  -webkit-transition: all .45s ease-in-out;
  transition: all .45s ease-in-out;
  display: none;
  background: $mask;
}
.play-list-box{
  position: absolute;
  bottom: 0;
  width: inherit;
  height: px2rem(932);
  background: $listBackground;
}
.play-list-box-body-scroller{
  height: px2rem(932-176);
  width: px2rem(750*2);
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.play-list-box-body-wrapper,.play-list-box-body-box{
  height: px2rem(932-176);
  width: px2rem(750);
  overflow: hidden;
}
.play-list-box-body-box{
  float: left;
}
.play-list-box-body-box-head{
  height: px2rem(110);
  border-bottom: 1px solid $playListBtn;
  text-align: left;
}
.play-list-box-body-box-head{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: px2rem(32);
  color: $mainTitle;
  line-height: px2rem(110);
  padding: 0 px2rem(32);
  .play-list-head-btn{
    line-height: inherit;
  }
  .play-list-head-btn-icon{
    color: $playListBtn;;
    line-height: inherit;
    vertical-align: middle;
    padding: 0 px2rem(20);
    font-size: px2rem(40);
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }
}
.play-list-box-body-box-wrapper{
  position: absolute;
  bottom: 0;
  width: px2rem(750);
  padding-left:px2rem(32);
  top:px2rem(110);
  overflow: hidden;
}
.play-list-box-footer{
  height: px2rem(176);
  width: 100%;
  text-align: center;
}
.play-list-box-point{
  height: px2rem(68);
}
.play-list-point-ul{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: px2rem(27) 0;
  .play-list-point-li{
    width:px2rem(14);
    height:px2rem(14);
    border-radius: 100%;
    background: #a8a8a8;
    margin: 0 px2rem(8);
  }
  .play-list-point-li.active{
    background: #808080;
  }
}
.play-list-box-btn{
  height: px2rem(108);
  line-height: px2rem(108);
  color: $mainTitle;
  font-size: px2rem(32);
  border-top:1px solid $playListBtn;
}
/*singleList -----------------------------*/
.single-list-box{
  border-bottom: 1px solid $playListBtn;
  height: px2rem(91);
  line-height: px2rem(91);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: px2rem(32);
  color: $mainTitle;
}
.single-list-text{
  line-height: inherit;
  width: px2rem(480);
  @include wordEllipsis();
}
.single-list-text.playing,.single-list-text.playing *{
  color: $mainGreen;
}
.single-list-control{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-size: px2rem(28);
  color: $playListBtn;
}
.single-list-text-artist{
  color: $playListBtn;
  font-size: px2rem(24);
}
.single-list-isPlay,.single-list-isLike,.single-list-delete{
  line-height: inherit;
  padding: 0 px2rem(20);
}
.single-list-delete{
  padding-right:px2rem(32);
}
.single-list-isLike>.like{
  color: $like;
}