@import "../../../library/style/coreCss/px2rem.scss";
@import "../../../library/style/coreCss/reset.scss";
@import "../css/font/iconfont.css";

/* set the color you like*/
$border: #ccc;
$totalBG:#fff;
$boxShadow:0px 2px 5px 0px rgba(84, 84, 84, 0.21);
$paneBG:#eee;
$borderRadius:3px;
$normalRadius:0px;
$normalWord:#333;
$normalWeek:#868686;
$canNotChoose:#b9b9b9;
$choosed:#fff;
$singleChooseBG:#2c97f1;
$mulitChooseBG:#86c3f6;
$titleHover:#eee;

/*dom structure and color*/
.k-datePicker{
  position: relative;
  width: 210px;
  /*max-height: 241px;*/
  padding: 5px 6px;
  background: $totalBG;
  border:1px solid $border;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  text-align: center;
  cursor: default;
  color: $normalWord;
}

.datePane{
  .yearBox{
    .previousBtn,.nextBtn{
      width: 30px;
    }
    .Title{
      font-weight: bold;
      font-size: 16px;
      width: 128px;
      padding: 0 5px;
    }
    ul{
      display: flex;
      justify-content: space-between;
      li{
        height: 30px;
        line-height: 30px;
        &:hover{
          background:$titleHover ;
          color: $normalWeek;
          border-radius: $borderRadius;
          cursor: pointer;
        }
      }
    }
  }
  .chooseBox{
    margin-top:5px;
    .chooseMonth{}
    .chooseDay{
      .dayTitle{
        li{
          width: 20px;
          height: 20px;
          line-height: 20px;
          font-size: 14px;
          color: $normalWeek;
          text-align: center;
        }
      }
      .dayList{
        margin-top: 5px;
        background: $paneBG;
        height:168px ;/*用来控制上下间距*/
        border-radius: $borderRadius;
        color: $normalWord;
        li{
          width: 28px;
          height: 26px;
          line-height: 26px;
          text-align: center;
          &:hover{
            background: $singleChooseBG;
            border-radius: $borderRadius;
            color: $choosed;
            cursor: pointer;
          }
        }
      }
    }
  }
  /*flex display*/
  .dayList,.yearList,.monthList,.dayTitle{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  .dayTitle{
    flex-wrap: nowrap;
  }
  /*set choose hover style*/
  .chooseBox .chooseYear .yearList,.chooseBox .chooseDay .dayList{
      .canNotChoose{
        color: $canNotChoose;
        &:hover{
          background: none;
          color: $canNotChoose;
          cursor: not-allowed;
        }
      }
      .previousChoose{
        color: $canNotChoose;
      }
      .singleChoosed{
        border-radius: $borderRadius;
        background: $singleChooseBG;
        color: $choosed;
      }
      .mulitChoosed,.mulitChoosedHead,.mulitChoosedEnd{
        color: $choosed;
        background: $singleChooseBG;
      }
      .mulitChoosed{
        background: $mulitChooseBG;
      }
      .mulitChoosedHead{
        border-top-left-radius:$borderRadius;
        border-bottom-left-radius:$borderRadius;
      }
      .mulitChoosedEnd{
        border-top-right-radius:$borderRadius;
        border-bottom-right-radius:$borderRadius;
      }
  }
  /*choose year and month is the same*/
  .chooseYear .yearList,.chooseMonth .monthList{
    li{
      width: 65px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      &:hover{
        background: $singleChooseBG;
        border-radius: $borderRadius;
        color: $choosed;
        cursor: pointer;
      }
    }
  }
}

