@import url(font/iconfont.css);
.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.64rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

body {
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

input {
  border: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  input:focus {
    outline: none; }

a {
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

body {
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*set fontFamily you need*/
html[lang=en] body {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  line-height: 1.8; }

html[lang=apple] body {
  font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  line-height: 1.8; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%; }

body {
  background: white; }

.nav {
  font-size: 0.45333rem;
  text-align: center;
  height: 1.17333rem;
  line-height: 1.17333rem;
  background: #212224;
  color: white;
  position: fixed;
  top: 0;
  width: 100%; }

.containeer {
  position: absolute;
  left: 0.2rem;
  right: 0.2rem;
  top: 1.17333rem;
  bottom: 2.13333rem;
  overflow: hidden;
  overflow-y: scroll; }

.cell {
  color: #333;
  margin-top: 0.93333rem; }
  .cell .cell-title {
    text-align: left; }
  .cell .cell-output {
    border-radius: 5px;
    background: #f7f7f7;
    min-height: 1.17333rem;
    margin-top: 0.26667rem;
    line-height: 1.17333rem;
    padding: 0 0.13333rem;
    font-size: 0.26667rem; }

.github {
  text-align: center;
  height: 2.66667rem; }
  .github * {
    color: #333333; }

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.13333rem;
  background: #fafafa;
  text-align: center; }
  .foot:before {
    content: '';
    position: absolute;
    left: 0;
    background: #eee;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  .foot .input-box {
    position: absolute;
    height: 1.33333rem;
    width: 90%;
    padding: 0 0.2rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .foot .input-box input {
      width: inherit;
      border: 1px solid #eeeeee;
      -webkit-appearance: none;
      border-radius: 5px;
      font-size: 0.53333rem;
      text-align: center;
      font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; }
      .foot .input-box input:focus {
        outline: none;
        outline-offset: 0px; }
    .foot .input-box:after {
      content: '\e601';
      font-family: "iconfont" !important;
      font-size: 0.53333rem;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
      color: #e4e4e4;
      position: absolute;
      right: 0.53333rem;
      line-height: 1.33333rem;
      margin-top: 0.4rem; }
  .foot .input-box.off:after {
    display: none; }

.cell-output span {
  display: inline-block;
  border-bottom: 1px solid #333;
  line-height: 0.4rem;
  width: 0.53333rem;
  text-align: center; }
.cell-output div {
  display: inline-block;
  width: 0.53333rem;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
